# Ignore node_modules as they are installed during the Docker build process
node_modules
npm-debug.log
yarn-error.log

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore CI/CD configuration files
.github